<div [formGroup]="formGroup">
  <select id="countrySelected" [formControlName]="controlName" [(ngModel)]="country" (ngModelChange)="onChangeObj($event)" class="form-control" required *ngIf="!autocomplete">
    <option *ngFor="let p of countries" [ngValue]="p">{{showNationality ? p.nacionalidad : p.nombre}}</option>
  </select>

  <ng-template #rt let-r="result" let-t="term" style="width: 96%">
    {{ showNationality ? r.nacionalidad : r.nombre }}
  </ng-template>

  <input (focus)="openAll($event)" [(ngModel)]="country" [formControlName]="controlName" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"
         class="form-control" style="text-transform: uppercase" required *ngIf="autocomplete"
         (selectItem)="onChangeObj($event)" />
</div>
