<form [formGroup]="formGroup" id="formGroup" name="formGroup" autocomplete="off" [ngBusy]="busy">
  <div class="container-fluid animated fadeIn">
    <div class="panel panel-custom">
      <div class="panel-heading">
        <h2>{{'general-information.title' | translate}}</h2>
      </div>
      <div class="panel-body">
        <div class="row form-inline search">
          <div class="col-lg-12">
            <h3 class="control-label informacion-adicional" *ngIf="!edit">{{addressName}}</h3>
          </div>
          <div class="form-group col-lg-12">
            <label class="control-label col-lg-3">{{'general-information.name' | translate}}</label>
            <div class="input-group col-lg-9">
              <input type="text" formControlName="nameNeighborhood" class="form-control" name="nameNeighborhood"
                     id="nameNeighborhood" [(ngModel)]="neighborhoodName" [maxlength]="30"/>
              <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                          data-target="#neighborhoodSearchModal"
                          [disabled]="withoutNeighborhood || (editMode && disabledField)">
                    <i class="material-icons">search</i>
                  </button>
                </span>
            </div>
            <pl-errors-message [control]="nameNeighborhood"></pl-errors-message>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label class="control control--checkbox">
              <input type="checkbox" class="checkbox" formControlName="withoutNeighborhoodControl"
                     id="withOutNeighborhood" name="withoutNeighborhood" [(ngModel)]="withoutNeighborhood"
                     (ngModelChange)="valueChangeWithoutNeighborhood($event)"/>
              {{'general-information.no-neighborhood' | translate}}
              <div class="control__indicator"></div>
            </label>
            <pl-errors-message [control]="withoutNeighborhoodControl"></pl-errors-message>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <label class="control-label">{{'general-information.region'| translate}}</label>
            <div class="form-group required" [ngClass]="{ 'has-error': regionSelect.touched && regionSelect.invalid}">
              <pl-region-select [controlName]="'regionSelect'" [formGroup]="formGroup"
                                [regionSelected]="address.nivelGeografico1"
                                (changeRegion)="selectRegion($event)"></pl-region-select>
              <pl-errors-message [control]="regionSelect"></pl-errors-message>
            </div>
          </div>
          <div class="col-lg-3">
            <label class="control-label">{{'general-information.departament' | translate}}</label>
            <div class="form-group required"
                 [ngClass]="{ 'has-error': departmentSelect.touched && departmentSelect.invalid}">
              <pl-department-select *ngIf="withoutNeighborhood" [controlName]="'departmentSelect'"
                                    [formGroup]="formGroup"
                                    [department]="department" (changeDepartment)="selectDepartment($event)"
                                    [region]="region" [autocomplete]="true"></pl-department-select>
              <pl-department-select *ngIf="!withoutNeighborhood" [controlName]="'departmentSelect'"
                                    [formGroup]="formGroup" (changeDepartment)="selectDepartment($event)"
                                    [departmentSelected]="address.nivelGeografico2"
                                    [autocomplete]="true"></pl-department-select>
              <pl-errors-message [control]="departmentSelect"></pl-errors-message>
            </div>
          </div>
          <div class="col-lg-3">
            <label class="control-label">{{'general-information.municipality' | translate}}</label>
            <div class="form-group required"
                 [ngClass]="{ 'has-error': municipalitySelect.touched && municipalitySelect.invalid}">
              <pl-municipality-select *ngIf="withoutNeighborhood" [controlName]="'municipalitySelect'"
                                      [formGroup]="formGroup" (changeMunicipality)="selectMunicipality($event)"
                                      [department]="department" [autocomplete]="true"
                                      [municipality]="municipality"></pl-municipality-select>
              <pl-municipality-select *ngIf="!withoutNeighborhood" [controlName]="'municipalitySelect'"
                                      [formGroup]="formGroup" (changeMunicipality)="selectMunicipality($event)"
                                      [municipalitySelected]="addressSearch"
                                      [autocomplete]="true"></pl-municipality-select>
              <pl-errors-message [control]="municipalitySelect"></pl-errors-message>
            </div>
          </div>
          <div class="col-lg-3">
            <label class="control-label">{{'general-information.neighborhood'|translate}}</label>
            <div class="form-group required"
                 [ngClass]="{ 'has-error': neighborhoodSelect.invalid && neighborhoodSelect.touched }">
              <pl-neighborhood-select *ngIf="withoutNeighborhood" [controlName]="'neighborhoodSelect'"
                                      [formGroup]="formGroup" (changeNeighborhood)="selectNeighborhood($event)"
                                      [autocomplete]="true" [municipality]="municipality"></pl-neighborhood-select>
              <pl-neighborhood-select *ngIf="!withoutNeighborhood" [controlName]="'neighborhoodSelect'"
                                      [formGroup]="formGroup" (changeNeighborhood)="selectNeighborhood($event)"
                                      [autocomplete]="true"
                                      [neighborhoodSelected]="addressSearch"></pl-neighborhood-select>
              <pl-errors-message [control]="neighborhoodSelect"></pl-errors-message>
            </div>
          </div>

          <div class="col-lg-12" *ngIf="!withoutNeighborhood">
            <label class="control-label">{{'general-information.nivel-riesgo' | translate}}</label>
            <div class="form-group required">
              <div class="alert alert-info" *ngIf="riskLevel == undefined" role="alert">NINGUNO</div>
              <div class="alert alert-success" *ngIf="riskLevel == 'BAJO'" role="alert">{{riskLevel}}</div>
              <div class="alert alert-warning" *ngIf="riskLevel=='MEDIO'" role="alert">{{riskLevel}}</div>
              <div class="alert alert-danger" *ngIf="riskLevel=='ALTO'" role="alert">{{riskLevel}}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label class="control-label">{{'general-information.address-type' | translate}}</label>
            <div class="form-group required"
                 [ngClass]="{ 'has-error': addressTypeSelect.touched && addressTypeSelect.invalid}">
              <pl-address-type-select [controlName]="'addressTypeSelect'" [formGroup]="formGroup"
                                      [addressTypeSelected]="addressTypeSelected"
                                      (changeAddressType)="selectAddressType($event)"></pl-address-type-select>
              <pl-errors-message [control]="addressTypeSelect"></pl-errors-message>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <label class="control-label">{{'general-information.address' | translate}}</label>
            <div class="form-group required" [ngClass]="{ 'has-error': addressInput.touched && addressInput.invalid}">
            <textarea class="form-control" formControlName="addressInput" name="addressInput" id="addressInput"
                      [(ngModel)]="address.direccion" [(uppercase)]="address.direccion" [maxlength]="120" rows="2"
                      cols="50"></textarea>
              <pl-errors-message [control]="addressInput" [maxLength]="120" [minLength]="10">
              </pl-errors-message>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <label class="control-label">{{'general-information.postal-mail' | translate}}</label>
            <div class="form-group" [ngClass]="{ 'has-error': postalMail.touched && postalMail.invalid}">
              <input type="text" name="postalMail" class="form-control" formControlName="postalMail" id="postalMail"
                     [(ngModel)]="address.apartadoPostal" [(uppercase)]="address.apartadoPostal" [maxlength]="10"/>
              <pl-errors-message [control]="postalMail"></pl-errors-message>
            </div>
          </div>
          <div class="col-lg-6">
            <label class="control-label">{{'general-information.postal-code' | translate}}</label>
            <div class="form-group" [ngClass]="{ 'has-error': postalCode.touched && postalCode.invalid}">
              <input type="text" name="postalCode" class="form-control" formControlName="postalCode" id="postalCode"
                     [(ngModel)]="address.codigoPostal" [(uppercase)]="address.codigoPostal" [maxlength]="10"/>
              <pl-errors-message [control]="postalCode"></pl-errors-message>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6">
                <label class="control-label">{{'general-information.cellphone' | translate}}</label>
              </div>
              <div class="col-lg-6">
                <label class="control-label">{{'general-information.phone' | translate}}</label>
              </div>
              <div class="col-lg-6">
                <div class="form-group required" [ngClass]="{ 'has-error': phone1.touched && phone1.invalid}">
                  <input type="text" name="phone1" onkeydown="numbersOnly(event);" class="form-control"
                         formControlName="phone1" id="phone1" [(ngModel)]="address.telefono1" [maxlength]="12"/>
                  <pl-errors-message [control]="phone1"></pl-errors-message>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group" [ngClass]="{ 'has-error': phone2.touched && phone2.invalid}">
                  <input type="text" name="phone2" onkeydown="numbersOnly(event);" class="form-control"
                         formControlName="phone2" id="phone2" [(ngModel)]="address.telefono2" [maxlength]="12"/>
                  <pl-errors-message [control]="phone2"></pl-errors-message>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <label class="control-label">{{'general-information.fax' | translate}}</label>
            <div class="form-group" [ngClass]="{ 'has-error': fax.touched && fax.invalid}">
              <input type="text" formControlName="fax" name="fax" onkeydown="numbersOnly(event);" class="form-control"
                     [(ngModel)]="address.fax" [maxlength]="12"/>
              <pl-errors-message [control]="fax"></pl-errors-message>
            </div>
          </div>
          <div class="col-lg-3">
            <label class="control-label">{{'general-information.extension' | translate}}</label>
            <div class="form-group" [ngClass]="{ 'has-error': extension.touched && extension.invalid}">
              <input type="text" name="extension" onkeydown="numbersOnly(event);" class="form-control"
                     formControlName="extension" id="extension" [(ngModel)]="address.extension" [maxlength]="4"/>
              <pl-errors-message [control]="extension"></pl-errors-message>
            </div>
          </div>
        </div>
        <div class="panel panel-custom">
          <label class="control-label">{{'general-information.addresses' | translate}}</label>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
                <label class="control-label">{{'general-information.address-zone' | translate}}</label>
                <div class="form-group" [ngClass]="{ 'has-error': zone.touched && zone.invalid}">
                  <pl-address-zone-select [formGroup]="formGroup" [controlName]="'zone'"
                                          (changeAddressZone)="selectAddressZone($event)"
                                          [addressZoneSelected]="address.zona.codigo"></pl-address-zone-select>
                  <pl-errors-message [control]="zone"></pl-errors-message>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="control-label">{{'general-information.email' | translate}}</label>
                <div class="form-group" [ngClass]="{ 'has-error': email.touched && email.invalid}">
                  <input type="email" formControlName="email" name="email" class="form-control"
                         [(ngModel)]="address.email" [(uppercase)]="address.email" [maxlength]="80"
                         placeholder="{{ 'referencias-laborales.email-placeholder' | translate }}"
                         (change)="valueChangeEmail($event.target)"/>
                  <pl-errors-message [control]="email">
                    <span *ngIf="email.hasError('email')">{{'messages.email' | translate}}</span>
                  </pl-errors-message>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label class="control-label"> {{'general-information.address-route' | translate}}</label>
                <div class="form-group" [ngClass]="{ 'has-error': route.touched && route.invalid}">
                  <pl-address-route-select [formGroup]="formGroup" [controlName]="'route'"
                                           (changeAddressRoute)="selectAddressRoute($event)"
                                           [addressRouteSelected]="address.ruta.codigo"></pl-address-route-select>
                  <pl-errors-message [control]="route"></pl-errors-message>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="control-label">{{'informacion-general.antiguedad' | translate}}</label>
                <div class="form-group form-inline">
                  <div class="input-group" [ngClass]="{'has-error': oldDateInput.touched && oldDateInput.invalid}">
                    <sa-datepicker [(ngModel)]="oldDate" (ngModelChange)="changeDate($event)" name="oldDateInput"
                                   formControlName="oldDateInput" [maxDate]="maxDate"
                                   [minDate]="minDate"></sa-datepicker>
                  </div>
                  <pl-errors-message [control]="oldDateInput"></pl-errors-message>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row panel-buttons">
          <div class="col-lg-12 text-right">
            <button type="button"
                    [disabled]="edit && formGroup.valid ? isInvalidChange() : !formGroup.valid || !address.nivelGeografico4"
                    [ngClass]="edit ? 'btn btn-primary btn-radio' : 'btn btn-success btn-radio'"
                    (click)="addAddress()" data-toggle="tooltip" data-placement="left"
                    attr.data-original-title="{{'tooltip.agregar-datos' | translate}}">
              <i class="material-icons md-18">{{edit? 'done' : 'add'}}</i>{{edit? ('buttons.accept' | translate) :
              ('buttons.add' | translate)}}
              <div class="ripple-container"></div>
            </button>
            <button type="button" [disabled]="!formGroup.valid" class="btn btn-danger btn-radio"
                    (click)="removeAddress()"
                    *ngIf="edit" data-toggle="tooltip" data-placement="left"
                    attr.data-original-title="{{'tooltip.eliminar-datos' | translate}}">
              <i class="material-icons md-18">delete</i> {{'buttons.delete' | translate}}
              <div class="ripple-container"></div>
            </button>
            <button type="button" class="btn btn-danger btn-radio" *ngIf="edit" (click)="clean()"
                    data-toggle="tooltip"
                    data-placement="left"
                    attr.data-original-title="{{'tooltip.cancelar' | translate}}">
              <i class="material-icons md-18">clear</i> {{'buttons.cancel' | translate}}
              <div class="ripple-container"></div>
            </button>
          </div>
        </div>
        <div class="row panel-buttons">
          <div class="col-lg-12">
            <ng-template #actionsTemplate let-item="item">
              <div class="btn-group-md">
                <a id="delete-button-value" [ngClass]="item.modalidad == mode.I? 'btn btn-fab btn-fab-mini btn-primary btn-raised' :
	                                                    item.modalidad == mode.U? 'btn btn-fab btn-fab-mini btn-warning btn-raised' :
	                                                    item.modalidad == mode.D? 'btn btn-fab btn-fab-mini btn-danger btn-raised' :
	                                                    'btn btn-fab btn-fab-mini btn-info btn-raised'"
                   [popover]="optionPopover" *ngIf="item.modalidad != null">
                  <i class="material-icons md-18">
                    {{item.modalidad == mode.I? 'add' : item.modalidad == mode.U? 'mode_edit' : item.modalidad ==
                    mode.D?
                    'delete' : 'add'}}
                  </i>
                  {{'table.restore-title' | translate}}
                  <div class="ripple-container"></div>
                </a>
              </div>
              <popover-content #optionPopover
                               title="{{'table.restore-title' | translate}}"
                               placement="right"
                               [animation]="true"
                               [closeOnClickOutside]="true">
                <button type="button" class="btn btn-primary btn-raised" [disabled]="item.modalidad == mode.I"
                        (click)="restoreAddress(item)">
                  <i class="material-icons md-18">delete</i> {{'buttons.accept' | translate}}
                  <div class="ripple-container"></div>
                </button>
              </popover-content>
            </ng-template>
            <sa-data-table [pager]="undefined" [actionTemplate]="editMode ? actionsTemplate : undefined"
                           [data]="client.direcciones" [useTableTemplate]="true"
                           [heading]="editMode? headingEdit: heading" [values]="values" [useServicePager]="false"
                           (rowSelected)="selectRecord($event)">
            </sa-data-table>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right col-lg-10">
        <div class="row">
            <span data-toggle="tooltip" data-placement="left" title=""
                  attr.data-original-title="{{'buttons.cancel' | translate}}" *ngIf="editMode && disabledField">
              <a class="btn btn-warning btn-raised btn-fab" (click)="enableControls()">
                  <i class="material-icons md-18">create</i> {{'buttons.update' | translate}}
                  <div class="ripple-container"></div>
              </a>
            </span>
          <span data-toggle="tooltip" data-placement="left" title="" *ngIf="editMode && !disabledField"
                attr.data-original-title="{{'buttons.cancel' | translate}}">
            <a class="btn btn-danger btn-raised btn-fab" (click)="disableControls(true)">
                <i class="material-icons md-18">clear</i> {{'buttons.cancel' | translate}}
                <div class="ripple-container"></div>
            </a>
          </span>
          <button type="button" (click)="cancel()" *ngIf="!editMode" class="btn btn-danger btn-radio"
                  data-toggle="tooltip"
                  data-placement="left">
            <i class="material-icons md-18">clear</i> {{'buttons.cancel' | translate}}
          </button>
          <button type="button" *ngIf="!editMode" [disabled]="client.clienteResumen.id" class="btn btn-success"
                  (click)="validateForm()"
                  data-toggle="tooltip" data-placement="left">
            {{'buttons.continue' | translate}} <i class="material-icons md-18">chevron_right</i>
          </button>
          <button type="button" *ngIf="editMode && !disabledField" class="btn btn-success" (click)="validateForm()"
                  data-toggle="tooltip" data-placement="left">
            {{'buttons.continue' | translate}} <i class="material-icons md-18">chevron_right</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="modal fade" id="authorizationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset()"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="material-icons md-18">check_circle</i>
          {{'authorization.title' | translate}}</h4>
      </div>
      <div class="modal-body">
        <pl-authorization [authorization]="authorization"
                          (changeAuthorization)="changeAuthorization($event)"></pl-authorization>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="neighborhoodSearchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="neighborhoodSearch">{{'neighborhood.search'|translate}}</h4>
      </div>
      <div class="modal-body" *ngIf="!withoutNeighborhood">
        <pl-neighborhood-search (changeNeighborhood)="selectAddress($event)"></pl-neighborhood-search>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-danger" data-toggle="tooltip"
                data-placement="left">
          <i class="material-icons md-18">clear</i> {{'buttons.cancel' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>
<cancel-confirmation></cancel-confirmation>