<div [formGroup]="formGroup">
  <select id="economicSectorSelected" [formControlName]="controlName" [(ngModel)]="economicSector" (ngModelChange)="onChangeObj($event)" class="form-control" required *ngIf="!autocomplete">
    <option *ngFor="let p of economicSectors" [ngValue]="p">{{ p.descripcion }}</option>
  </select>

  <ng-template #rt let-r="result" let-t="term" style="width: 96%">
    {{  r.descripcion }}
  </ng-template>

  <input type="text" (focus)="openAll($event)" [(ngModel)]="economicSector" [formControlName]="controlName" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"
         class="form-control" style="text-transform: uppercase" required *ngIf="autocomplete"
         (selectItem)="onChangeObj($event)" />
</div>
